/*Menus topo página*/
.barra-topo{
	background-color: #507e78;
	color: #fff;
	margin-bottom: 0;
    margin-top: 0;
	position: relative;
	text-align: center;
}
.barra-topo p{
	margin: 0;
}
.topo{
	margin-bottom: 0;
    margin-top: 0;
	padding: 10px 0;
	position: relative;
	background: #fff6e4;
}
.topo nav a:link {
	color: #507e78;
}
.topo nav a:visited {
	color: #507e78;
}
#exceto{
	color:#fff;
}
/*Carrossel Home*/
.carousel-inner > .item > img {
    position: relative;
    min-width: 100%;
    height: 505px;
}
/*Banner Home - Historia Empresa*/
#historia{
	background-color:#ebffea;
	color: #2a403d;
	font-size: 110%;
}
.banner-topo{
	background: #f0f0fb;	
	padding-top: 20px;
}
.banner-topo .img-destaque{
	max-width: 300px;
}
.cor-tema{
	color:#4a746f;
}
/*Footer todas as páginas*/
.rodape{
	color: #507e78;
	background: #fff6e4;
	max-height: 350px;
}
#contato nav a:link {
	color: #507e78;
}
#contato a:link{
	color: #507e78;
}
#contato a:visited {
	color: #507e78;
}
#contato img{
	width:50%;
}
/*Página Sobre*/
#quem{
	color: #000;
	background-color: #ebffea;
	text-align: center;
	margin-bottom: 0;
    margin-top: 0;
}
.quem-sou .img-destaque{
	padding: 2%;
	width: 60%; 
}
#texto h1{
	color: #4a746f;
}
#texto p{
	font-size: 95%;
	text-align: justify;
	color: #2a403d;
}
.quem-sou a:link {
	color: #fff;
}
.quem-sou a:visited {
	color: #fff;
}
#foto{
	background-color: #507e78;
	color:#fff;
}
/*Página Contato*/
#texto-formulario{
	text-align: center;
}
#texto-formulario h1{
	color: #507e78;
}
.btn-personalizado {
	text-align: center;
	color: #fff;
	background-color: #507e78;
	border-radius: 7px;
}
.btn-personalizado .btn{
	color:#fff;
}  
.btn-personalizado:hover {
	color: #fff;
	background-color: #6aa79f
}
#local{
	display: block;
	background-color: #507e78;
	height: 300 px;
}
#local h3{
	text-align: center;
	color: #fff;
}
#local p{
	text-align: center;
	color: #fff;
}
#local iframe{
	width: 100%; 
	height: 300px; 
	resize: both; 
}
form{
	color: #507e78;
	font-weight: bold;
}
/*Menu Baralhos, Pedras e Incenso*/
#baralho{
	color: #fff;
	background-color: #507e78;
	text-align: center;
	margin-bottom: 0;
    margin-top: 0;
}
.menu-baralhos .img-destaque{
	padding: 2%;
	width: 60%; 
}
#texto{
	text-align: center;	
}
.card img.img-hover {
	display: none;
}
.card:hover img.img-default {
	display: none;
}
.card:hover img.img-hover {
	display: inherit;
}